@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Poppins:wght@100;400;900&display=swap");

/*! RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*! HEADER */

header nav {
  background-color: #f8f8f8;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 20px;
}

.cta_enlace {
  text-decoration: none;
  color: red;
  cursor: pointer;
}
.cta_enlace:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

header nav div img {
  max-width: 70px;
  left: 210px;
  top: 10px;
}

/*? Responsi Movil header */

@media (min-width: 350px) and (max-width: 800px) {
  header nav {
    flex-direction: column;
    align-items: center;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    padding: 5px;
  }
}

/*! MAIN */

/*?Section Hero */

.hero {
  position: relative;
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(121, 9, 63, 0.5) 1%,
      rgb(0, 50, 214) 256%
    ),
    url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
}

.hero {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero div {
  max-width: 70vw;
  text-align: center;
}

.hero div p {
  font-family: "Old Standard TT", serif;
  font-size: 3rem;
  margin: 40px;
}

/*? Responsi Movil */

@media (min-width: 350px) and (max-width: 800px) {
  .hero {
    background-size: 500px 550px cover;
  }
  .hero div p {
    font-family: "Old Standard TT", serif;
    font-size: 1.5rem;
  }
}

/*?Section Noticias */

.noticia {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.imagen_noticia {
  flex: 1;
  padding-right: 10px;
}

.imagen_noticia img {
  max-width: 100%;
  height: auto;
}

.contenido_noticia {
  flex: 2;
  text-align: center;
}

.noticia_titulos {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 15px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

/*? Responsi Movil Noticias */

@media (min-width: 350px) and (max-width: 800px) {
  .noticia {
    flex-direction: column;
  }

  .imagen {
    padding-right: 0;
    padding-bottom: 10px;
  }
}

/*?Section Categorias */

.categorias {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
}

.categoria {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.473);
  padding: 20px;
  text-align: center;
}

.categorias div img {
  max-width: 70%;
  height: auto;
}

.categorias_titulo {
  background-color: rgb(0, 50, 214);
  color: white;
  padding: 10px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.categorias_parrafo {
  margin: 35px;
  color: black;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

/*? Responsi Movil Categorias */

@media (min-width: 350px) and (max-width: 800px) {
  .categorias {
    grid-template-columns: 1fr;
  }
}

/*?Section Testimonios */

.testimonio_contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card_testimonio {
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonio img {
  width: 150px;
  border-radius: 50%;
}

.testimonio div p {
  font-size: 1rem;
  margin-top: 15px;
  font-family: "Old Standard TT", serif;
}

/*? iamgen fija tienda wha*/

.fixed {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.fixed img {
  width: 50px;
}

.fixed_tienda {
  position: fixed;
  bottom: 50px;
  left: 50px;
}

.fixed_tienda img {
  width: 50px;
}

@media (min-width: 351px) and (max-width: 800px) {
  .fixed {
    width: 150px;
  }

  .fixed_tienda {
    left: 20px;
    width: 100px;
  }
}

/*? PAginacion */

.paginacion {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin: 25px;
}

.paginacion a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
}

.paginacion a.active {
  background-color: #333;
  color: #fff;
}

/*? Footer */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #333;
  color: white;
  padding: 30px 0;
}

.footer-section {
  flex-basis: calc(33.33% - 20px);
  padding: 0 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

@media (min-width: 350px) and (max-width: 800px) {
  .footer-section {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

footer div img {
  width: 40px;
  margin: 35px;
}

/*? Formulario */

form {
  max-width: 400px;
  margin: 0 auto;
  left: 150px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.noticia_banner,
.testimonios_banner {
  background-color: rgb(0, 50, 214);
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 15px;
  color: #fff;
  font-family: "Old Standard TT", serif;
  width: 100%;
  margin: 25px;
}

.boton {
  background-color: firebrick;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

/* !Css Sobre nosotros */

.slide {
  margin-top: 10px;
}

.slide img {
  height: 70vh;
}

.acerca-de {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.imagen img {
  max-width: 100%;
  height: auto;
}

.contenido {
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

/*? Responsy Movil */

@media (min-width: 350px) {
  .acerca-de {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .imagen {
    flex: 1;
    padding: 20px;
  }

  .contenido {
    flex: 2;
    padding: 20px;
    text-align: left;
  }
}

@media (min-width: 800px) {
  .acerca-de {
    padding: 50px;
  }
}

/*? section de Galeria */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.gallery__title {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 300;
}

.gallery__title::after {
  content: "";
  display: block;
  height: 4px;
  background: crimson;
  width: 200px;
  margin-top: 20px;
}

.gallery__grid {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
  grid-auto-rows: 350px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* !Css Programas y entrenamientos */

.estadio_verdum {
  position: relative;
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.479) 0%,
      rgba(95, 7, 50, 0.39) 1%,
      rgba(222, 231, 224, 0.315) 256%
    ),
    url(../img/estadiojpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
}

.sedes_entrenamineto {
  width: 80%;
  margin: 45px;
}

.card img {
  width: 60vh;
}

.carousel-caption h5 {
  font-weight: bolder;
  font-size: 1.5rem;
}
.carousel-caption li {
  list-style: none;
}
