// Variables
$red-color: red;
$blue-color: blue;
$primary-bg: #f8f8f8;
$tamaño-letra: 1em;

// Mixins
@mixin cta-link {
  text-decoration: none;
  color: $red-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: $blue-color;
    cursor: pointer;
  }
}

@mixin backgroundimagen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@mixin flexiblecenter($dis, $just, $align) {
  display: $dis;
  justify-content: $just;
  align-items: $align;
}

@mixin contenedorImagen {
  position: relative;
  width: 100%;
  height: 80vh;
  color: white;
}

// Extends
%base-styles {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Header
header nav {
  @extend %base-styles;
  background-color: $primary-bg;
  width: 100%;
  padding: 15px;
  @include flexiblecenter(flex, center, center);
  ul {
    list-style: none;
    display: flex;

    li {
      font-family: Arial, Helvetica, sans-serif;
      font-size: $tamaño-letra;
      padding: 20px;
    }
  }

  div img {
    max-width: 70px;
    left: 210px;
    top: 10px;
  }
}

.cta_enlace {
  @include cta-link;
}

/*? Responsi Movil header */

@media (min-width: 350px) and (max-width: 800px) {
  header nav {
    flex-direction: column;
    align-items: center;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    padding: 5px;
  }
}

// Hero
.hero {
  @extend %base-styles;
  @include contenedorImagen;
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(121, 9, 63, 0.5) 1%,
      rgb(0, 50, 214) 256%
    ),
    url(../img/banner.jpg);
  @include backgroundimagen;
  @include flexiblecenter(flex, center, center);
  div {
    max-width: 70vw;
    text-align: center;

    p {
      font-family: "Old Standard TT", serif;
      font-size: 3rem;
      margin: 40px;
    }
  }
}

@media (min-width: 350px) and (max-width: 800px) {
  .hero {
    background-size: 500px 550px cover;
  }
  .hero div p {
    font-family: "Old Standard TT", serif;
    font-size: 1.5rem;
  }
}

// Noticias
.noticia {
  @extend %base-styles;
  @include flexiblecenter(flex, center, center);
  margin: 40px;
  padding: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

  .imagen_noticia {
    flex: 1;
    padding-right: 10px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .contenido_noticia {
    flex: 2;
    text-align: center;
  }

  .noticia_titulos {
    font-size: $tamaño-letra;
    text-transform: uppercase;
    padding: 15px;
    color: $red-color;
    font-family: Arial, Helvetica, sans-serif;
  }

  @media (min-width: 350px) and (max-width: 800px) {
    flex-direction: column;

    .imagen {
      padding-right: 0;
      padding-bottom: 10px;
    }
  }
}

// Categorias
.categorias {
  @extend %base-styles;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;

  .categoria {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.473);
    padding: 20px;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .categorias_titulo {
    background-color: rgb(0, 50, 214);
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-size: $tamaño-letra;
  }

  .categorias_parrafo {
    margin: 35px;
    color: black;
    font-size: $tamaño-letra;
    font-family: Arial, Helvetica, sans-serif;
  }

  @media (min-width: 350px) and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

// Testimonios
.testimonio_contenedor {
  @extend %base-styles;
  @include flexiblecenter(flex, center, center);
  flex-wrap: wrap;
  padding: 20px;
  .card_testimonio {
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    img {
      width: 150px;
      border-radius: 50%;
    }

    div p {
      font-size: $tamaño-letra;
      margin-top: 15px;
      font-family: "Old Standard TT", serif;
    }
  }
}

// Fixed button
.fixed {
  @extend %base-styles;
  position: fixed;
  bottom: 40px;
  right: 30px;
  img {
    width: 50px;
  }

  @media (min-width: 351px) and (max-width: 800px) {
    img {
      width: 40px;
    }
  }
}

.fixed_tienda {
  @extend %base-styles;
  position: fixed;
  bottom: 40px;
  left: 30px;
  img {
    width: 50px;
  }

  @media (min-width: 351px) and (max-width: 800px) {
    left: 20px;
    width: 100px;
  }
  img {
    width: 40px;
  }
}

// Paginacion
.paginacion {
  @extend %base-styles;
  @include flexiblecenter(flex, center, center);
  margin-top: 20px;
  margin: 25px;

  a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;

    &.active {
      background-color: #333;
      color: #fff;
    }
  }
}

// Formulario
form {
  @extend %base-styles;
  max-width: 400px;
  margin: 0 auto;
  left: 150px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
}

// Noticia banner y testimonios banner
.noticia_banner,
.testimonios_banner {
  background-color: rgb(0, 50, 214);
  text-align: center;
  font-size: $tamaño-letra;
  text-transform: uppercase;
  padding: 15px;
  color: #fff;
  font-family: "Old Standard TT", serif;
  width: 95%;
  margin: 25px;
}

// Boton
.boton {
  background-color: firebrick;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: $tamaño-letra;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 350px) {
  .acerca-de {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .imagen {
    flex: 1;
    padding: 20px;
  }

  .contenido {
    flex: 2;
    padding: 20px;
    text-align: left;
  }
}

// Section de Galeria
.container {
  @extend %base-styles;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;

  .gallery__title {
    margin-top: 50px;
    font-size: 2rem;
    font-weight: 300;

    &::after {
      content: "";
      display: block;
      height: 4px;
      background: crimson;
      width: 200px;
      margin-top: 20px;
    }
  }

  .gallery__grid {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
    grid-auto-rows: 350px;
  }

  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.estadio_verdum {
  @extend %base-styles;
  @include contenedorImagen;
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.479) 0%,
      rgba(95, 7, 50, 0.39) 1%,
      rgba(222, 231, 224, 0.315) 256%
    ),
    url(../img/estadiojpg.jpg);
  @include backgroundimagen;

  .sedes_entrenamineto {
    @extend %base-styles;
    width: 80%;
    margin: 45px;

    .card img {
      width: 60vh;
    }

    .carousel-caption h5 {
      font-weight: bolder;
      font-size: 1.5rem;
    }

    .carousel-caption li {
      list-style: none;
    }
  }

  @media (min-width: 350px) and (max-width: 800px) {
    .card img {
      width: 30vh;
    }
    .carousel-caption li {
      font-size: 10px;
    }
  }
}

// Css Sobre nosotros
.slide {
  @extend %base-styles;
  margin-top: 10px;

  img {
    height: 70vh;
  }
}

.acerca-de {
  @extend %base-styles;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;

  .imagen {
    @extend %base-styles;
    flex: 1;
    padding: 20px;

    img {
      width: 100%;
    }
  }

  .contenido {
    @extend %base-styles;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    p {
      font-size: $tamaño-letra;
      line-height: 1.5;
    }
  }

  @media (min-width: 350px) and (max-width: 800px) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .imagen {
      flex: 1;
      padding: 20px;
    }
  }
}

// Calendario
.calendario {
  @include contenedorImagen;
  @extend %base-styles;
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(121, 9, 63, 0.5) 1%,
      rgb(0, 50, 214) 256%
    ),
    url(../img/carrusel3.jpg);
  @include backgroundimagen;
  @include flexiblecenter(flex, center, center);

  div {
    max-width: 70vw;
    text-align: center;

    p {
      font-family: "Old Standard TT", serif;
      font-size: 3rem;
      margin: 40px;
    }
  }
}

@media (min-width: 350px) and (max-width: 800px) {
  .calendario {
    background-size: 500px 550px cover;
  }
  .calendario div p {
    font-family: "Old Standard TT", serif;
    font-size: 1.5rem;
  }
}

// Contacto
.hero_contacto {
  @include contenedorImagen;
  @extend %base-styles;
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(121, 9, 63, 0.5) 1%,
      rgb(0, 50, 214) 256%
    ),
    url(../img/galeriaCuatro.jpg);
  @include backgroundimagen;
  @include flexiblecenter(flex, center, center);

  div {
    max-width: 70vw;
    text-align: center;

    p {
      font-family: "Old Standard TT", serif;
      font-size: 3rem;
      margin: 40px;
    }
  }
}

@media (min-width: 350px) and (max-width: 800px) {
  .hero_contacto {
    background-size: 500px 550px cover;
  }
  .hero_contacto div p {
    font-family: "Old Standard TT", serif;
    font-size: 1.5rem;
  }
}

// Estilos finales del Footer
footer {
  @extend %base-styles;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #333;
  color: white;
  padding: 30px 0;

  .footer-section {
    flex-basis: calc(33.33% - 20px);
    padding: 0 20px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  }

  @media (min-width: 350px) and (max-width: 800px) {
    .footer-section {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }

  div img {
    width: 40px;
    margin: 35px;
  }
}

#eventos {
  border-top: 2px solid #333;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .evento {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 15px;
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 50px;
    margin-top: 50px;

    &:hover {
      transform: scale(1.1);
      background-color: rgba(66, 66, 233, 0.658);
    }

    h3 {
      margin-top: 0;
    }

    p {
      margin: 8px 0;
      font-size: 0.9em;
      color: #555;

      strong {
        color: #333;
      }
    }
  }

  @media (min-width: 768px) {
    .evento {
      flex: 1 1 calc(25% - 20px);
      // width: calc(100% - 20px);
    }
  }
}

@media (min-width: 350px) and (max-width: 800px) {
  iframe {
    width: 100%;
  }
}
